<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <h1>Free Version of Casino AI Games</h1>
    <div>
        <div>
            <p> <b>Game Development Version</b> 2.5v  &nbsp;&nbsp;&nbsp;&nbsp;
             <b>Game Type:</b> High and Low Card Guess Game</p>
        </div>
    </div>
    <p>-----------------------------------------------------------------------------------------------</p>
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <p><h2><b>Game Rules: lucky 7A</b></h2><br>
                1) A to 6 : Low Cards <br>
                2) Card 7 : Tie(we Show as High Card) <br>
                3) 8 to K : High Cards <br>
                4) We show Tie Card as High Card
      
        </div>
        <div class="column" style="background-color:#bbb;">
            <p><h2><b>New Version: 2.5:</b></h2><br>
                1) Only Lucky 7A Game is Avl.   <br>
                2) Reinforcement Learning Based AI<br>
                3) Lucky7 A: Approx 60 Accuracy <br>
                4) More Game Coming Soon
        </div>
      </div>
    <div class="container">
        <div class="column left">
            <h2>Pro Version: Paid</h2>
            <h3>Get More Profit With 80% Accuracy AI</h3>
            <p>1 Day Subscription: Rs 2000.00 / $30 / USDT 30</p>
            <p>15 Days Subscription: Rs 5000.00 / $70 / USDT 70</p>
            <p>45 Days Subscription: Rs 10,000.00 / $130 / USDT 30</p><br>
            <a href="https://telegram.me/aicasinogame"> Contact Us: Telegram</a>
        </div>
        <div class="column right">
            <h2>Game Website Supports</h2>
            <p>* Betbhai9
* Allpannel
* Maruti9
* Lords exchange
* Diamond exchange
* Sapphire
* Go exchange
* Dominoz
* Silver exchange
* World777
* Silent exchange
* Trade exchange
* Diamond exchange
* Ice exchange
            * Much More</p>
            <p> Any Website which have <b>LUCKY 7A</b> Game, Our AI Perfectly Works Fine</p>
        </div>
    </div>
    <h2>Live Casino Game</h2>
    <dev>
        <div>
            <a href="/lucky7a"> Lucky 7A Game </a>
        </div>
    </dev>
</body>
</html>